.tweet-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif UI;
    font-size: 16px;
    color: rgb(60, 60, 60);
    margin: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 255, 255);
    width: 100%;
}

.titles-label {
  font-size: 18px;
}