.base-button-submit {
    padding: 8px 10px;
    background-color: rgb(76, 175, 80);
    border: 1px solid green;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
}

.base-button-submit:hover {
    background-color: rgb(69, 160, 73);
}

.base-button-submit:active {
    padding: 9px 9px 7px 11px;
    background-color: rgb(51, 144, 58);
    border: 1px inset rgb(30, 84, 35);
}