.base-button-submit {
    padding: 8px 10px;
    background-color: rgb(76, 175, 80);
    border: 1px solid green;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.base-button-submit:hover {
    background-color: rgb(69, 160, 73);
    border: 1px solid green;
}

.base-button-submit:active {
    padding: 9px 9px 7px 11px;
    background-color: rgb(51, 144, 58);
    border: 1px inset rgb(30, 84, 35);
}

.base-button-info {
    padding: 8px 10px;
    background-color: rgb(55, 130, 250);
    border: 1px solid blue;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.base-button-info:hover {
    background-color: rgb(67, 128, 226);
    border: 1px solid rgb(0, 0, 214);
}

.base-button-info:active {
    padding: 9px 9px 7px 11px;
    background-color: rgb(46, 88, 156);
    border: 1px inset rgb(0, 0, 143);
}

.base-button-get {
    padding: 8px 10px;
    background-color: rgb(217, 112, 0);
    border: 1px solid rgb(84, 43, 0);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.base-button-get:hover {
    background-color: rgb(172, 100, 0);
    border: 1px solid rgb(97, 50, 0);
}

.base-button-get:active {
    padding: 9px 9px 7px 11px;
    background-color: rgb(123, 64, 0);
    border: 1px inset rgb(90, 46, 0);
}